.single{
   width: 100%;
   height: 100vh;
   background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
.single .buttons{
   width: 100%;
   height: 40px;
   max-width: 1366px;
   margin: 0px auto;
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   padding: 0px 20px;
   gap: 20px;
}
.single .buttons .edit{
   font-size: 0.7rem;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   width: 60%;
   height: 100%;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
}
.single .buttons .group{
   width: 100px;
   height: 100%;
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
}
.single .buttons button{
   width: 30px;
   height: 30px;
   background-color: plum;
   display: flex;
   justify-content: center;
   align-items: center;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}
.single .buttons button:nth-child(1){
   background-color: #5AB2FF;
}
.single .buttons button:nth-child(2){
   background-color: #FF204E;
}
.single .buttons button svg{
   width: 20px;
   height: 20px;
   fill: white;
}
.single .wrapper{
   width: 100%;
   max-width: 1366px;
   margin: 0px auto;
   height: calc(100vh - 50px);
   display: flex;
   justify-content: space-between;
   gap: 20px;
   padding: 10px 20px 20px 20px;
}
.single .wrapper .area{
   width: 49%;
   height: 100%;
   display: flex;
   flex-direction: column;
   gap: 30px 10px;
}
.single .wrapper .area .side{
   flex: 1;
   border-radius: 10px;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
}
.single .wrapper .area .side span{
   padding: 2px 10px;
   font-size: 0.8rem;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   text-align: center;
   display: flex;
   justify-content: center;
   border-radius: 5px;
   background-color: #ff8f8f;
   width: 180px;
}
.single .wrapper .area .side section{
   width: 90%;
   height: 100%;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   text-align: center;
   word-break: break-all;
   font-family:sans-serif;
   font-size: 0.9rem;
   font-weight: bold;
}